.DS_Store
# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - JavaScript node dependencies
node_modules


*.pyc

data/**/manifest.json
data/**/Gemfile.lock
data/vendor/**
resources/js
resources/ruby
resources/python
resources/dotnet
resources/java

.idea/
*.iml